PLATFORM_ENV=dev

# Database
DB_HOST=127.0.0.1
#DB_HOST=host.docker.internal
DB_PORT=5433
DB_NAME=postgres
DB_USERNAME=sudoit
DB_PASSWORD=CHANGE_ME

APP_HOST=host.docker.internal
APP_PORT=8080
DEV_NAME=mahdi

# Redis
REDIS_PASSWORD=redis123

# Kafka
KAFKA_BOOTSTRAP_SERVERS=10.100.8.81:9093,10.100.8.82:9093,10.100.8.83:9093
ELK_LOG_TOPIC=corridor.core.loan.nova.obs.logs.v1

# Kafka Topic Configuration
KAFKA_TOPIC_PARTITIONS=3
KAFKA_TOPIC_REPLICAS=1
KAFKA_USER=nova
KAFKA_PASSWORD=CHANGE_ME

# Security
REDIS_HOST=127.0.0.1
#REDIS_HOST=host.docker.internal
REDIS_PORT=6379
ENCRYPTION_PASSWORD=CHANGE_ME

# FCB Integration Configuration
#FCB_BASE_URL=https://core.dotin-core.ir/FCB-RELEASE-TAV
FCB_BASE_URL=http://10.20.11.123:6060/FCB
FCB_USERNAME=admin
FCB_PASSWORD=abcd1234

# Logging
LOG_LEVEL_WEB=DEBUG
LOG_LEVEL_APP=DEBUG

# JPA
HIBERNATE_DDL_AUTO=none
SHOW_SQL=true

# Spring
# dev: base development settings
# dev-elk: sends logs to Kafka
# dev-local: console logs only
# kafka-fcb: FCB Kafka integration
# elk: ELK stack integration

SPRING_PROFILES_ACTIVE=dev,dev-elk,kafka-fcb,elk

# OAUTH2
OAUTH2_CLIENT_ID=1ebad0ab-39d1-4718-9690-ec1873c6914f
OAUTH2_CLIENT_SECRET=e8443326-415e-4dfc-89d1-faff4ff8436d
