# SonarQube configuration
project_key="ir.dotin.loan:morabehe-loan"
project_name="Morabehe Loan"
sonar_host_url="http://sonarqube.dev.local:9000"
pullrequest_key=1
pullrequest_base="develop"

# Base directory of properties files
RESOURCES_DIR="src/main/resources"

# Array of properties files to process
PROPERTIES_FILES=(
    "words_en.properties"
    "words_fa.properties"
    "messages_fa.properties"
    "messages_en.properties"
)
